@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
header{
    background-image: url(img/pexels2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 40px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    height: 50px;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;

}

.navbar a{
    color: #ffffff;
    text-decoration: none;
}

.navbar li{
    list-style-type: none;
    margin-left: 20px;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;  
    color: #ffffff;
}
.title{
    font-size: 2.5em;
}
 .sub-title{
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
}

.btn-container{
    text-align: center;
    margin-top: 30px;
}

.red-button{
    border: 1px solid red;
    padding: 10px;
    text-decoration: none;
    background: red;
    border-radius: 30px 30px;
    color: #ffffff;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.center-grid{
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    
}

.no-lien{
    text-decoration: none;
}
.marge{
    margin-bottom: 30px;
}